In [29]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pandas as pd 
import pickle

In [30]:
model=load_model("model.h5")

with open("onehot_encoder_geo.pkl","rb") as file:
    onehot_encoder_geo=pickle.load(file)

with open("label_encoder_gender.pkl","rb") as file:
    label_encoder_gender=pickle.load(file)

with open("scaler.pkl","rb") as file:
    scaler=pickle.load(file)

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [31]:
input_data = {
    'CreditScore': 600,
    'Geography': 'Spain',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [32]:
geo_encoded=onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

/Users/shreyanshsingh/Documents/Udemy_ML /Self_Made_Project_from_videos/DL/ANN Classififcation/venv/lib/python3.11/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               0.0                0.0              1.0

In [33]:
input_df=pd.DataFrame([input_data])
input_df.head()

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600     Spain   Male  ...          1               1            50000

[1 rows x 10 columns]

In [34]:
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600     Spain       1  ...          1               1            50000

[1 rows x 10 columns]

In [35]:
input_df=pd.concat([input_df.drop('Geography',axis=1),geo_encoded_df],axis=1)
input_df.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              1.0

[1 rows x 12 columns]

In [41]:
input_scaled=scaler.transform(input_df)
input_scaled_df=pd.DataFrame(input_scaled,columns=input_df.columns)
input_scaled_df.head()

   CreditScore    Gender  ...  Geography_Germany  Geography_Spain
0    -0.535985  0.913248  ...          -0.579467         1.734942

[1 rows x 12 columns]

In [43]:
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 9ms/step

array([[0.05726434]], dtype=float32)

In [44]:
prediction_prob=prediction[0][0]
prediction_prob

0.057264335

In [46]:
if prediction_prob>0.5:
    print("Likely to exit")
else:
    print("Not like to exit")

Not like to exit